# This configuration file is used in the janus_interop_aggregator container
# image. It is tuned for very low aggregation latency, to speed up integration
# tests, and is not intended for production use.
database:
  url: postgres://postgres@127.0.0.1:5432/postgres
  check_schema_version: false
health_check_listen_address: 0.0.0.0:8001
logging_config:
  force_json_output: true
tasks_update_frequency_secs: 2
aggregation_job_creation_interval_secs: 1
min_aggregation_job_size: 1
max_aggregation_job_size: 100
