name: publish-crates

on:
  release:
    types: [published]
  workflow_dispatch:

env:
  CARGO_REGISTRY_TOKEN: ${{ secrets.DIVVIUP_AUTOMATON_JANUS_CRATES_IO_TOKEN }}

jobs:
  crate:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Install Rust toolchain
      uses: dtolnay/rust-toolchain@stable
    - name: "Publish janus_messages"
      run: cargo publish --package janus_messages
    - name: "Publish janus_core"
      run: cargo publish --package janus_core
    - name: "Publish janus_client"
      run: cargo publish --package janus_client
    - name: "Publish janus_collector"
      run: cargo publish --package janus_collector
