name: yank-crates

on:
  workflow_dispatch:
    inputs:
      version:
        description: crate version to yank from crates.io
        required: true
        type: string

jobs:
  yank:
    strategy:
      matrix:
        crate:
          - janus_messages
          - janus_core
          - janus_client
          - janus_collector
    runs-on: ubuntu-latest
    environment: release
    permissions:
      id-token: write
    steps:
    - name: Install Rust toolchain
      uses: dtolnay/rust-toolchain@stable
    - id: auth
      uses: rust-lang/crates-io-auth-action@v1
    - name: "Yank"
      run: cargo yank --version ${{ inputs.version }} ${{ matrix.crate }}
      env:
        CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
